{% extends 'info/base.html' %}
    {% load static %}

    {% block content %}
    <h1>This is DSA contact page</h1>
    <form>
        <div class="form-group">
          <label for="exampleFormControlInput1">Subject</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" >
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Write your query here:</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button class="btn btn-primary">Submit</button>
      </form>
    {% endblock %}