{% extends 'info/base.html' %}
    {% load static %}

    {% block content %}
    <h1 style="background-color: #333; color: white; text-align:
     center; border-radius: 5px; margin: 20px;">University WhatsApp Groups</h1>
    <a href="#">
        <button   style="float:right;" class="btn btn-primary">Click</button>
    </a>
    <h1>Click here Join Science Society Group</h1>
 
    <a href="#">
        <button style="float:right;" class="btn btn-primary">Click</button>
    </a>
    <h1>Click here Join Music Society Group</h1>
    <a href="#">
        <button style="float:right;" class="btn btn-primary">Click</button>
    </a>
    <h1>Click here Join Sports Society Group</h1>
    <a href="#">
        <button style="float:right;" class="btn btn-primary">Click</button>
    </a>
    <h1>Click here Join Arts Society Group</h1>
    <a href="#">
        <button style="float:right;" class="btn btn-primary">Click</button>
    </a>
    <h1>Click here Join Litrary Society Group</h1>
    <a href="#">
        <button style="float:right;" class="btn btn-primary">Click</button>
    </a>
    <h1>Click here Join University Update Group</h1>
    {% endblock %}